Import necessary libraries

In [12]:
import pandas as pd
import numpy as np
import wget

ModuleNotFoundError: No module named 'wget'

# Q1. Pandas version

In [ ]:
print(f"The pandas version is {pd.__version__}")

# Getting the data

Download the dataset

In [ ]:
wget.download("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")

Read the dataset

In [ ]:
df = pd.read_csv("car_fuel_efficiency.csv")

In [ ]:
df.head()

# Q2. Records count

In [13]:
len(df)

NameError: name 'df' is not defined

In [ ]:
df.shape[0]

In [14]:
print(f"Number of rows/records in the dataset: {df.shape[0]}")

NameError: name 'df' is not defined

## Q3. Fuel types

##

In [ ]:
df["fuel_type"]

In [ ]:
Uniq_fuel = df.fuel_type.nunique()
print(f"There are {Uniq_fuel} fuel types present in the dataset")

## Q4. Missing values

In [ ]:
df.isnull().sum()

In [15]:
colMissingVal = (df.isnull().sum() > 0).sum()
print(f"The number of columns with mising values is {colMissingVal}")

NameError: name 'df' is not defined

## Q5. Max fuel efficiency

In [16]:
df.columns

NameError: name 'df' is not defined

In [ ]:
df.groupby('origin')['fuel_efficiency_mpg'].max()

In [ ]:
max_efficiency = df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()
print("Asia's max fuel efficiency:", max_efficiency)

## Q6. Median value of horsepower

In [ ]:
df.columns

Find the median value of horsepower column in the dataset.

In [ ]:
med_hp = df['horsepower'].median()
med_hp

calculate the most frequent value of the same horsepower column.

In [17]:
mod_hp= df['horsepower'].mode()[0]
mod_hp

NameError: name 'df' is not defined

Fill the missing values in horsepower column with the most frequent value from the previous step.

In [ ]:
df['horsepower'].fillna(mod_hp, inplace=True)

In [ ]:
new_med_hp = df['horsepower'].median()
new_med_hp

In [ ]:
print(f"Median value increased from {med_hp} to {new_med_hp}")

Yes it increased

## Q7. Sum of weights

Select all the cars from Asia

In [ ]:
df_Asia = df[df['origin'] == 'Asia']
df_Asia

Select the first 7 values only from columns vehicle_weight and model_year

In [18]:
df_Asia[["vehicle_weight","model_year"]].head(7)

NameError: name 'df_Asia' is not defined

Get the underlying NumPy array. Let's call it X

In [ ]:
X = df_Asia[["vehicle_weight","model_year"]].head(7).to_numpy()
X

In [19]:
X.shape

NameError: name 'X' is not defined

Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX

In [ ]:
XTX = np.matmul(X.T,X)
XTX.shape

In [ ]:
XTX

Invert XTX

In [20]:
XTX_inv = np.linalg.inv(XTX)
XTX_inv.shape

NameError: name 'XTX' is not defined

In [ ]:
XTX_inv

Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200]

In [ ]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
y
y.shape

Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w

In [ ]:
prod_X = np.matmul(XTX_inv, X.T)
prod_X

In [ ]:
w = np.matmul(prod_X,y)

In [21]:
w_sum = w.sum()
w_sum

NameError: name 'w' is not defined

In [ ]:
print(f"The sum of all the elements of the result {w_sum}")